.statistics{
    width: 300px;
    background-color: #fff;
    margin-top: 40px;
    overflow: hidden;
    border-radius: 5px;
    box-shadow: 1px 1px 1px 3px rgba(0, 0, 0, 0.12),
            0px 1px 1px rgba(0, 0, 0, 0.14),
            0px 2px 1px rgba(0, 0, 0, 0.2);
}
.title{
    font-size: 24px;
    text-align: center;
    text-transform: uppercase;
    padding: 30px 0;   
}